*{
    margin: 0;
    padding: 0;
}

header,main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;

}
